*.ipynb_checkpoints*
*.bbl
*.blg
*.spl
*.swo
*.docx\#
*.aux
*.log
*.pdf
*.~
*.dot
*.pyc
*.html
*.pickle
*.inv
*.js
*.out
*doctree*
*.so
*.sh
*.swp
*.gz
*.png
*.eps
*.gif
*.h5
*.pcl
*.o???????
*.glo
*.gls
*.ilg
*.DS_Store
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
build
backup
*.fls
*.pdfsync
*.fdb_latexmk
